.coin-container{
display: flex;
justify-content: center;
}
.coin-row{
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items:center ;
    height: 80px;
    border-bottom: 1px solid bisque;
    width: 900px;
}
.coin{
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}
.coin h1{
    font-size: 16px;
    width: 150px;
}
.coin img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.coin-symbol{
    text-transform: uppercase;

}
.coin-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}
.conin-price{
    width:110px ;
}
.coin-volume{
    width: 230px;
   
}
.coin-marketcap{
    width: 155px;
}
.coin-percent{
    width: 100%;
}
.red{
    color: red;
}
.green{
    color:rgb(9, 240, 9);
}
.header{
    margin-bottom: 40px;
    text-align: center;
}
.coin-input{
    padding-left: 16px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border:none;
    background-image: linear-gradient(rgb(8, 152, 248),rgb(115, 216, 241));
    color:bisque;
}